@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*style pour la page de confirmation des résultats "reults.php"*/
h2 {
  text-align: center;
  font-size: 30px;
}
* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
  font-size: roboto;
  text-transform: uppercase;
  text-align: center;
}
a {
  padding-top: 60px;
  text-decoration: 0;
  color: #17a2b8;
}
body {
  background-color: #17a2b8;
  display: center;
  height: 100vh;
}
input {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  text-align: center;
}
form {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
}
button {
  padding: 10px 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #ffff;
  background-color: #17a2b8;
  outline: none;
  cursor: pointer;
  display: block;
  margin-left: 150px;
  text-align: justify;
}
